Data_small
Data_small.zip
DL_dicts
features
ML_models
utils/__pycache__/
venv
.env
.env-non-dev
static/
__pycache__/
download/
images/
red_panda/
scraped_images/
migrations/versions
src/auth/__pycache__/
src/evaluate/__pycache__/
src/inference/__pycache__/
src/operations/__pycache__/
src/pages/__pycache__/
dump.rdb