<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Evaluation</title>
    <style>
        .top-right-buttons {
            position: fixed; /* or 'absolute' */
            top: 10px;
            right: 20px;
        }
        .top-right-buttons button {
            margin-left: 10px;
        }
        .top-right-info {
            position: fixed;
            top: 30px;
            right: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h2>Evaluate models</h2>
    <form id="evalForm" style="max-width: 600px; margin: 20px;">

        <h3>Resnet / VIT / CLIP models</h3>
        <div style="margin-bottom: 15px;">
            <label for="model" style="margin-right: 10px;">Select a model:</label>
            <select name="model" id="model" style="width: 150px;">
                <option value="resnet">resnet</option>
                <option value="vit">vit</option>
                <option value="clip">clip</option>
            </select>
            <button type="button" onclick="Evaluate()" style="margin-left: 10px;">Evaluate</button>
            <div id="Evaluate_status"></div>
        </div>
    </form>

    <form id="evalFormF" style="max-width: 600px; margin: 20px;">
        <h3>SVM / XGB on Resnet / VIT features</h3>
        <div style="margin-bottom: 15px;">
            <label for="features" style="margin-right: 10px;">Select features:</label>
            <select name="features" id="features" style="width: 150px;">
                <option value="resnet">resnet</option>
                <option value="vit">vit</option>
            </select>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="fmodel" style="margin-right: 10px;">Select model:</label>
            <select name="fmodel" id="fmodel" style="width: 150px;">
                <option value="svm">svm</option>
                <option value="xgb">xgb</option>
            </select>
            <button type="button" onclick="EvaluateF()" style="margin-left: 10px;">Evaluate</button>
        </div>
    </form>
    
    <form id="ResultsForm" style="max-width: 600px; margin: 20px;">
        <h3>Results</h3>
        <div style="margin-bottom: 15px;">
            <label for="query" style="margin-right: 10px;">Enter task_id</label>
            <input type="text" id="task_id" name="task_id" style="width: 300px;" placeholder="Task ID">
            <button type="button" onclick="check_result()" style="margin-left: 10px;">Check!</button>
        </div>
        <div id="evaluationResult"></div>
    </form>    
    

    <div class="top-right-buttons">
        <button onclick="window.location.href='/pages/home';">Login page</button>
        <button onclick="window.location.href='/pages/infer';">Inference</button>
        <button onclick="window.location.href='/pages/infer_google';">Inference GImages</button>
        <button onclick="window.location.href='/pages/eval';">Evaluate</button>
        <button onclick="window.location.href='/pages/stats';">History</button>
        <!-- Placeholder for logout button; initially hidden -->
        <span id="logoutButtonPlaceholder"></span>
    </div>

    <div class="top-right-info">
        <span id="loggedInAs"></span>
    </div>

    <script>
        // Retrieve task_id from localStorage
        const task_id = localStorage.getItem('task_id');

        // Set task_id as the placeholder for the input field
        document.getElementById('task_id').value = task_id;

        document.addEventListener('DOMContentLoaded', () => {
            const loggedInUser = localStorage.getItem('loggedInUser');
            const logoutButtonPlaceholder = document.getElementById('logoutButtonPlaceholder');
        
            if (loggedInUser) {
                // User is logged in, display logout button and "Logged in as" message
                document.getElementById('loggedInAs').innerHTML = `Logged in as: ${loggedInUser}`;
                logoutButtonPlaceholder.innerHTML = `<button onclick="logout()">Logout</button>`;
            } else {
                // User is not logged in, do not display logout button
                logoutButtonPlaceholder.innerHTML = '';
                document.getElementById('loggedInAs').innerHTML = '';
            }
        });

        async function Evaluate() {
            const form = document.getElementById('evalForm');
            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());

            // Manually add other arguments here
            jsonData['data'] = 'Data_small';
            jsonData['evaluate_only'] = true;
        
            const response = await fetch('/evaluate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            });

            const responseJson = await response.json();  // Extract JSON from the response
            
            if (responseJson.status === 'success' && responseJson.task_id) {
                // Get the 'result' object

                const task_id = responseJson.task_id;
                localStorage.setItem('task_id', task_id);
                document.getElementById('task_id').value = task_id;

                const evaluationText = `<span style='color: green;'> Processing. Your task_id is ${task_id}</span>.`;
                document.getElementById('evaluationResult').innerHTML = evaluationText;

            }
                // Check if the response indicates success
            else if (responseJson.status === 'success' && responseJson.result) {
                // Get the 'result' object
                const result = responseJson.result;
                
    

                // Start building the HTML table
                let tableHTML = '<table><tr><th>Metric</th><th>Value</th></tr>';  // Header row

                // Loop over each key-value pair in 'result' and add a row to the table for each
                for (const [key, value] of Object.entries(result)) {
                    tableHTML += `<tr><td>${key}</td><td>${value.toFixed(4)}</td></tr>`;  // Append row
                }

                tableHTML += '</table>';  // Close the table HTML
                document.getElementById('evaluationResult').innerHTML = tableHTML;  // Set the table HTML

            } else {
                // Handle errors or different status
                document.getElementById('evaluationResult').innerHTML = 'Failed to fetch evaluation data.';
            }
        }


        async function EvaluateF() {
            const form = document.getElementById('evalFormF');
            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());

            // Manually add other arguments here
            //jsonData['data'] = 'Data_small';
            jsonData['evaluate_only'] = true;
        
            const response = await fetch('/evaluate/fmodels', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            });

            const responseJson = await response.json();  // Extract JSON from the response
            
            if (responseJson.status === 'success' && responseJson.task_id) {
                // Get the 'result' object

                const task_id = responseJson.task_id;
                localStorage.setItem('task_id', task_id);
                document.getElementById('task_id').value = task_id;

                const evaluationText = `<span style='color: green;'> Processing. Your task_id is ${task_id}</span>.`;
                document.getElementById('evaluationResult').innerHTML = evaluationText;

            }
                // Check if the response indicates success
            else if (responseJson.status === 'success' && responseJson.result) {
                // Get the 'result' object
                const result = responseJson.result;
                
    

                // Start building the HTML table
                let tableHTML = '<table><tr><th>Metric</th><th>Value</th></tr>';  // Header row

                // Loop over each key-value pair in 'result' and add a row to the table for each
                for (const [key, value] of Object.entries(result)) {
                    tableHTML += `<tr><td>${key}</td><td>${value.toFixed(4)}</td></tr>`;  // Append row
                }

                tableHTML += '</table>';  // Close the table HTML
                document.getElementById('evaluationResult').innerHTML = tableHTML;  // Set the table HTML

            } else {
                // Handle errors or different status
                document.getElementById('evaluationResult').innerHTML = 'Failed to fetch evaluation data.';
            }
        }

        async function check_result() {
            const form = document.getElementById('ResultsForm');
            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());
            const task_id = jsonData.task_id;

            // Manually add other arguments here
            //jsonData['data'] = 'Data_small';
            //jsonData['evaluate_only'] = true;
        
            const response = await fetch(`/evaluate/result/${task_id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            const responseJson = await response.json();  // Extract JSON from the response
            
                // Check if the response indicates success
            if (responseJson.status === 'success' && responseJson.result) {
                // Get the 'result' object
                const result = responseJson.result;

                // Start building the HTML table
                let tableHTML = '<table><tr><th>Metric</th><th>Value</th></tr>';  // Header row

                // Loop over each key-value pair in 'result' and add a row to the table for each
                for (const [key, value] of Object.entries(result)) {
                    tableHTML += `<tr><td>${key}</td><td>${value.toFixed(4)}</td></tr>`;  // Append row
                }

                tableHTML += '</table>';  // Close the table HTML
                document.getElementById('evaluationResult').innerHTML = tableHTML;  // Set the table HTML
            
            } else if (responseJson.status === 'in progress'){
                const evaluationText = `<span style='color: blue;'> Still processing. Your task_id is ${task_id}</span>.`;
                document.getElementById('evaluationResult').innerHTML = evaluationText;
            
            } else {
                // Handle errors or different status
                document.getElementById('evaluationResult').innerHTML = 'Failed to fetch evaluation data.';
            }
        }

        async function logout() {
            //const responseArea = document.getElementById('logoutResponse');  // This is where we'll display the message
        
            const response = await fetch('/auth/logout', {
                method: 'POST',
                credentials: 'include',  // Needed for clearing cookie
            });
        
            if (response.ok) {  // .ok is true for status codes 200-299
                //responseArea.innerHTML = "<span style='color: green;'>Logged Out!</span>";
                localStorage.removeItem('loggedInUser');  // Clear the username from localStorage
                document.getElementById('loggedInAs').innerHTML = "";  // Clear the logged in message
                window.location.href = '/pages/home';  // Redirect to the home page
            } else {
                //responseArea.innerHTML = "<span style='color: red;'>Error!</span>";
            }
        }




        
    </script>
</body>
</html>
